.roadmap-numbers {
    overflow-x: scroll;
    .roadmap-number {
        font-size: 16px;
        min-width: 238px;
        padding: 27px 20px 36px 20px;
        .count {
            font-size: 24px;
        }
    }
}

