.roadmap-numbers {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    column-gap: 20px;

    .roadmap-number.released {
        background-color: #e2f0e7;
        .count {
            color: #00ca72;
        }
    }
    .roadmap-number.on-roadmap {
        background-color: #ECEFF8;
        .count {
            color: #6161ff;
        }
    }
    .roadmap-number.under-consideration {
        background-color: #FFF5CC;
        .count {
            color: #caa100;
        }
    }

    .roadmap-number {
        border-radius: 4px;
        flex: 1;
        padding: 20px;
        text-align: center;

        .count {
            font-size: 20px;
            font-weight: bold;
        }
    }
}