{{#if mustShow}}
<div class="roadmap-numbers">
    <div class="roadmap-number released">
        <div class="count">{{releasedCount}}</div>
        Features Released
    </div>
    <div class="roadmap-number on-roadmap">
        <div class="count">{{roadmapCount}}</div>
        Features on Roadmap
    </div>
    <div class="roadmap-number under-consideration">
        <div class="count">{{considerCount}}</div>
        Features Under Consideration
    </div>
</div>
{{/if}}